@import '../../shared/global';

.field_sidebar {
    width: 344px;
    color: var(--white);
    position: fixed;
    transition: all 0.3s ease-in-out;
    top: 64px;
    bottom: 0%;
    @media screen and (max-width: 1092px) {
        transform: translateX(-344px);
        &.active {
            transform: translateX(0);
            z-index: 2;
            top: 113px;
        }
    }

    >div {
        overflow-y: scroll;
        height: 100%;
        background-color: var(--it-1);
        @include nice-scroll();
    }

    header {
        background-color: var(--it-1);
        box-shadow: 0px 1px 5px 1px rgba(74,74,74,0.09);

        h1 {
            background-blend-mode: overlay;
            background-color: var(--it-1-opacity-7);
            height: 200px;
            padding: 20px;
            display: flex;
            align-items: flex-end;
        }

        a {
            display: block;
            padding: 16px 24px;
            text-decoration: none;
            color: var(--white);
        }
    }

    .levels {
        box-shadow: 0px 1px 5px 1px rgba(74,74,74,0.09);

        button {
            position: relative;
            display: flex;
            justify-content: space-between;
            background-color: var(--it-1-opacity-8);
            border: 0;
            color: var(--white);
            padding: 24px;
            font-size: 16px;
            text-align: left;
            font-weight: normal;
            width: 100%;
            border-bottom: 1px solid rgba(242, 242, 242, 0.3);
            cursor: pointer;
            &.active::before {
                content: "";
                position: absolute;
                height: 100%;
                width: 5px;
                background-color: var(--primary);
                top: 0;
                left: 0;
            }
        }
    }

    footer {
        box-shadow: 0px 1px 5px 1px rgba(74,74,74,0.09);
        background-color: rgba($color: #0b1726, $alpha: 0.95);

        a {
            display: block;
            text-decoration: none;
            color: var(--white);
            padding: 16px 24px;
            &:not(:last-child) {
                border-bottom: 1px solid rgba(242, 242, 242, 0.3);
            }
        }
    }
}
