@import '../../../shared/global';

.group {
    &__header {
        height: 368px;
        width: 100%;
        margin-bottom: 30px;

        > div {
            @extend %bg;
            height: 100%;
            border-radius: var(--border-r-1);
        }
    }

    &__details {
        padding: 24px;
        border-radius: var(--border-r-1);
        background-color: var(--it-2);
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__sub {
            color: var(--it-1-opacity-7);
            margin-top: -10px;
        }

        &__action img {
            margin-right: 8px;
        }
    }
}
