@import '../../shared/global';

.note {
    page-break-inside: avoid;
    box-shadow: 0px 1px 5px 1px rgba(74, 74, 74, 0.09);
    margin-bottom: 40px;

    &__header {
        background-color: rgba(242, 242, 242, 0.4);
        padding: 16px 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        p {
            font-size: 20px;
            font-weight: 600;
            color: var(--it-1);
        }

        span {
            font-size: 12px;
            color: var(--it-1-opacity-5);
        }

        &__actions {
            display: flex;

            button {
                @extend %center;
                background: none;
                outline: none;
                border: none;
                height: 35px;
                width: 35px;
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                    background-color: rgba(242, 242, 242, 0.8);
                }

                &:active {
                    background-color: rgba(212, 211, 211, 0.5);
                }

                &__button {
                    margin-right: 8px;
                }
            }
        }
    }

    &__container {
        padding: 20px;

        p {
            white-space: pre-line;
        }
    }
}
