@import '../../shared/global';

.navbar {
    height: 64px;
    width: 100%;
    border-radius: var(--border-r-1);
    background-color: var(--it-2);
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
        display: flex;
        height: 100%;
        position: relative;
    }

    &__item {
        height: 100%;
        padding: 0 15px;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        @extend %clip-text;
        white-space: nowrap;
        @extend %transition;
        transition-property: color;

        &.active {
            color: var(--primary);
        }

        &.is__sm {
            padding: 0 5px;
        }
    }

    &__indicator {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1px;
        height: 3px;
        background-color: var(--primary);
        transform-origin: left;
        @extend %transition;
        transition-property: transform;
    }

    &__actions {
        display: flex;

        > button {
            height: 32px;

            > span {
                @extend %clip-text;
            }

            > img {
                margin-right: 10px;
            }
        }

        &__other {
            > button {
                &:last-of-type {
                    background-color: var(--white);
                    border: 1px solid var(--primary);
                    color: var(--primary);

                    &:hover {
                        color: var(--white);
                        background-color: var(--primary);
                    }
                }
            }

            @media (max-width: 800px) {
                > button {
                    min-width: auto;
                    padding-left: 10px;
                    padding-right: 10px;

                    > span {
                        -webkit-line-clamp: 1;
                        white-space: nowrap;
                    }
                }
            }

            @media (max-width: 700px) and (min-width: 667px) {
                > button {
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }

            @media (max-width: 400px) {
                > button:first-of-type {
                    display: none;
                }
            }
        }
    }
}

.md__btn {
    min-width: auto;
    padding: 0 15px;

    img {
        margin: 0 !important;
    }
}

.sm__btn {
    padding: 0 10px;
}
