.learning_path {
    display: flex;

    .level {
        margin-left: 344px;

        header {
            background-color: var(--it-1);
            padding: 12px 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                font-size: 16px;
                color: var(--white);
            }

            span {
                color: var(--feedback);
            }
        }
    }

    .level_content {
        padding: 40px;
        display: grid;
        row-gap: 32px;
        
        section {
            display: grid;
            padding: 24px;
            box-shadow: 0px 1px 5px 1px rgba(74,74,74,0.09);
            column-gap: 40px;
            grid-template-columns: 1fr 238px;

            img {
                grid-row: 1/5;
                grid-column: 2/3;
            }

            > p {
                margin: 8px 0 16px;
                color: var(--it-1-opacity-7);
            }

            .course_controls {
                display: flex;
                flex-wrap: wrap;

                button:not(.more) {
                    padding: 0;
                    width: 136px;
                    height: 32px;
                    margin-right: 10px;
                    border: 1px solid var(--primary);
                }

                .more {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            .progression {
                margin-top: 16px;
                color: var(--it-1-opacity-7);

                p {
                    font-size: 14px;
                    display: flex;
                    justify-content: space-between;
                }

                div {
                    position: relative;
                    height: 2px;
                    width: 100%;
                    border-radius: 5px 0 0 5px;
                    background-color: var(--it-2);
                    margin-top: 3px;

                    &::after, &::before {
                        content: "";
                        position: absolute;
                        background-color: var(--feedback);
                    }

                    &::after {
                        height: 4px;
                        border-radius: 5px 0 0 5px;
                        top: -1px;
                        left: 0;
                    }

                    &::before {
                        width: 8px;
                        height: 8px;
                        border-radius: 4px;
                        top: -3px;
                    }
                }
            }
        }
    }

    .drop_down {
        position: absolute;
        list-style: none;
        transition: all 0.3s ease-in-out;
        background-color: var(--white);
        box-shadow: 0px 1px 5px 1px rgba(74,74,74,0.09);
        padding: 16px 8px;
        top: 0;
        left: 0;
        opacity: 0;

        li {
            label {
                color: var(--it-1-opacity-7);

                span {
                    position: relative;
                    display: inline-flex;
                    width: 16px;
                    height: 16px;
                    background-color: var(--it-2);
                    margin-right: 8px;
                    &::before {
                        content: "";
                        position: absolute;
                        background-color: var(--primary);
                        width: 8px;
                        height: 8px;
                        opacity: 0;
                        top: 4px;
                        left: 4px;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
            
            input:checked + label span::before {
                opacity: 1;
            }

            &:not(:last-child) {
                margin-bottom: 4px;
            }

            a {
                text-decoration: none;
                color: var(--it-1-opacity-7);
            }
        }
    }
}
