.level_content {
    padding: 40px;
    display: grid;
    row-gap: 32px;

    section {
        padding: 24px;
        box-shadow: 0px 1px 5px 1px rgba(74, 74, 74, 0.09);
        column-gap: 40px;
        @media screen and(min-width: 769px) {
            display: grid;
            grid-template-columns: 1fr 238px;
        }

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            @media screen and(min-width: 769px) {
                grid-row: 1/5;
                grid-column: 2/3;
            }
        }

        > p {
            margin: 8px 0 16px;
            color: var(--it-1-opacity-7);
        }

        .course_controls {
            display: flex;
            flex-wrap: wrap;
            @media screen and (max-width: 425px) {
                flex-direction: column;
            }

            button:not(.more) {
                padding: 0;
                width: 136px;
                height: 32px;
                border: 1px solid var(--primary);
                @media screen and (max-width: 425px) {
                    margin-bottom: 10px;
                }
                @media screen and (min-width: 426px) {
                    margin-right: 10px;
                }
            }

            .more {
                background-color: transparent;
                border: none;
                cursor: pointer;
                width: max-content;

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}

.drop_down {
    position: absolute;
    list-style: none;
    transition: all 0.3s ease-in-out;
    background-color: var(--white);
    box-shadow: 0px 1px 5px 1px rgba(74, 74, 74, 0.09);
    padding: 16px 8px;
    top: 0;
    left: 0;
    opacity: 0;

    li {
        label {
            color: var(--it-1-opacity-7);

            span {
                position: relative;
                display: inline-flex;
                width: 16px;
                height: 16px;
                background-color: var(--it-2);
                margin-right: 8px;
                &::before {
                    content: "";
                    position: absolute;
                    background-color: var(--primary);
                    width: 8px;
                    height: 8px;
                    opacity: 0;
                    top: 4px;
                    left: 4px;
                    transition: all 0.3s ease-in-out;
                }
            }
        }

        input:checked + label span::before {
            opacity: 1;
        }

        &:not(:last-child) {
            margin-bottom: 4px;
        }

        a {
            text-decoration: none;
            color: var(--it-1-opacity-7);
        }
    }
}
