.questions {
    padding: 32px 40px;

    section {
        box-shadow: 0px 1px 5px 1px #4a4a4a17;
        background-color: var(--white);
        overflow: hidden;
        color: var(--it-1-opacity-7);

        &:not(:last-of-type) {
            margin-bottom: 24px;
        }

        p {
            margin: 24px;
        }

        hr {
            margin: 0;
            border-color: rgba($color: #0b1726, $alpha: 0.1);
        }

        ul {
            margin: 24px;
            list-style: none;

            li:not(:last-of-type) {
                margin-bottom: 4px;
            }

            label {
                display: flex;
                align-items: center;

                span {
                    position: relative;
                    margin-right: 8px;
                    width: 16px;
                    height: 16px;
                    background-color: var(--it-2);
                    border-radius: 8px;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 0;
                        transition: all 0.4s ease-in-out;
                    }
                }
            }

            input:checked + label span::after {
                width: 8px;
                height: 8px;
                background-color: var(--primary);
                border-radius: 4px;
                top: 4px;
                left: 4px;
            }
        }
    }
}
