.grid {
    $this: &;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__col {
        flex-basis: calc(100% / 3);

        @media (max-width: 991px) {
            flex-basis: 50%;
        }

        @media (max-width: 768px) {
            flex-basis: 100%;
        }
    }

    &__item {
        margin-bottom: 20px;
    }
}
